// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 520px;
  img {
    max-width: none;
  }
}

footer {
  // margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid #cdd6d1;
}